.ft-main-back {
    background-image: url(/SRE/src/images/tilesmainbackground.jpg);
    color: black;
    margin-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 110px;
    padding-bottom: 50px;
}
.ft-main-back :nth-child(1){
    font-size: x-large;
    font-weight: 600;
    color: white;
    background-color: transparent;
}
.ft-main-back :nth-child(2){
    background-color: transparent;

    color: white;
}
.doublecharge{
    text-align: center;
    font-size: x-large;
    margin-top: 70px;
    margin-bottom: 70px;
}
.singleCharge{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 120px;
    text-align: center;
}
.single-main{
    max-width: 90%;
    margin: auto;
    padding-top: 100px;
}
@media only screen and (max-width:550px){
    .left {
        padding-top: 100px;
        /* letter-spacing: 0px !important; */
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .double {
        max-width: 90%;
        margin: auto;
        display:block !important;
        gap: 7.5%;
    }
    .leftimg {
        float:none !important;
        width: 100% !important;
        height: 435px;
        object-fit: cover;
        /* display: flex; */
    }
}
