.ft-main-back{
    background-image: url(/src/images/tilesmainbackground.jpg);
    color: black;
    margin-top: 56px;
    padding: 150px;
}
.ft-main-back :nth-child(1){
    font-size: x-large;
    font-weight: 600;
    color: white;
    background-color: transparent;
}
.ft-main-back :nth-child(2){
    background-color: transparent;

    color: white;
}
.doublecharge{
    text-align: center;
    font-size: x-large;
    margin-top: 70px;
    margin-bottom: 70px;
}
.singleCharge{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 120px;
    text-align: center;
}
.single-main{
    max-width: 90%;
    margin: auto;
    padding-top: 100px;
}
