body {
  background-color: #ffffff;
}
* {
  letter-spacing: 1px;
}
/* .carousel-item {
  
} */
.section-wall {
  padding-top: 100px;
  max-width: 80%;
  margin: auto;
}
.section-wall2 {
  padding-top: 250px;
  max-width: 80%;
  margin: auto;
}
.section-wall-left2 {
  float: right;
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 15px;
  margin-left: 5%;
}
.section-wall-left {
  float: left;
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 15px;
  margin-right: 5%;
}
.sec1-text1 {
  color: blue;
  font-size: medium;
  font-weight: 500;
}
.sec1-text2 {
  font-size: xx-large;
  font-weight: 600;
}
.sec1-text3 {
  color: #acacac;
}
button {
  width: 200px;
  height: 50px;
  background-color: rgb(6, 0, 71);
  color: white;
  border: 0;
  border-radius: 3px;
}
.section-wall-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-wall-right div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px;
  border: 1px solid #ebebeb;
  gap: 10px;
  background: white;
}
.section-wall-right div img {
  width: 40px;
}
.section-wall-right-p1 {
  font-size: large;
  font-weight: 600;
  text-align: center;
}
.section-wall-right-p2 {
  color: blue;
  font-size: small;
}
.carousels-main {
  max-width: 80%;
  margin: auto;
  margin-top: 250px;
  padding-bottom: 100px;
}
.carousels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.carousels-itom img {
  width: 90%;
}
.carousels-text1 {
  padding-top: 70px;
  color: blue;
  letter-spacing: 0;
  font-size: small;
}
.carousels-text2 {
  font-size: x-large;
  font-weight: 600;
}
.crousel-itom-text1 {
  font-weight: 600;
}
.crousel-itom-text2 {
  font-size: small;
  color: #888888;
}
.carousels-itom {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.onclick {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutTiles-left {
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 40%;
  margin-right: 10%;
}
.aboutTiles {
  margin-top: 80px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
#tilesimages img {
  width: 39vw;
  height: 26vw;
}
.kaf {
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 25px;
}
#big-text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  color: rgb(106, 106, 106);
}
.onclick p {
  color: rgb(106, 106, 106);
}
.onclick p:hover {
  font-weight: 600;
  transition: 0.5s ease-in-out;
  color: black;
}
.Location iframe {
  width: 100%;
  height: 300px;
}
.Location {
  margin-top: 100px;
}
.name {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
.address {
  font-size: medium;
  text-align: center;
  padding-bottom: 40px;
}

.carousels-main img:hover{
box-shadow: 0px 0px 30px 1px;
transition: 0.4s all ease-in-out;
width:110% ;
z-index: 1;
}
.hremail{
  width: 100%;
  color: rgb(135, 135, 135);
  border: 1px solid black;
  border-radius: 5px;
}
.hrcall{
  width: 100%;
  color: rgb(135, 135, 135);
  border: 1px solid black;
  border-radius: 5px;
}
.hrcontact{
  width: 100%;
  color: rgb(135, 135, 135);
  border: 1px solid black;
  border-radius: 5px;
}
.callEmail{
display: flex;
gap: 100px;
flex-direction: column;
}
.footer{
  max-width: 80%;
  margin: auto;
  display: flex;
  gap: 100px;
  padding-top: 100px;
  line-height: 1px;
}
.sre{
  
    /* padding-left: 10%; */
    font-size: x-large;
    font-weight: 600;
    
}
.key{
  font-weight: 700;
}
.value{
  color: rgb(0, 0, 96);
  font-weight: 400;
}
svg{
  color: rgb(0, 0, 96);
}
.svg{
  display: flex;
  gap: 50px;
}
.lasthr{
  width: 80% ;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.RIGHTS{
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 100px;
}
.carousels-main img{
  transition: box-shadow 0.5s ;
}
.onclick p{
  transition: color 0.5s;
}
.onclick p:hover{
  cursor: pointer;
  color: red;
}
.carousel-button{
  position: absolute;
  top: 23vw;
}
@media screen and (max-width: 950px) {
  /* flex-direction: column; */
  /* .callEmail {
    display: flex;
    gap: 100px;
} */
  .section-wall-left {
    float: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-right: 5%;
}
.section-wall-left2 {
  float: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-left: 5%;
}
a {
  text-align: center;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
  padding-top: 50px;
  padding-bottom: 50px;
}
#big-text {
  width: 250%;
  flex: 1;
  display: flex;
  align-items: flex-end;
  color: rgb(106, 106, 106);
  margin-top: 10px;
}
.carousels {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.onclick {
  /* padding-top: 50px; */
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}
@media screen and (max-width: 600px) {
  .section-wall-right {
    display: grid;
    grid-template-columns: 1fr;
}
.carousels {
  display: grid;
  grid-template-columns: 1fr;
}
.carousels-itom {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer {
  max-width: 80%;
  margin: auto;
  display: flex;
  gap: 100px;
  padding-top: 100px;
  line-height: 1px;
  flex-direction: column;
}
.aboutTiles {
  margin-top: 80px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.aboutTiles-left {

  float:none;
 
}
.aboutTiles-left {
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-right: 10%;
}
#big-text {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
  color: rgb(106, 106, 106);
  margin-top: 10px;
}
.aboutTiles-left {
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-right: 0%;
}
.aboutTiles {
  margin-top: 80px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}
#tilesimages img {
  width: 80vw;
  height: 50vw;
}
.feature-h {
  margin-left: 0px !important;
  letter-spacing: 0;
  font-size: larger;
  font-weight: 700;
}
.size {
  padding-left: 0px !important;
  font-weight: 500;
}
.left {
  /* letter-spacing: 0px !important; */
  display: flex;
  flex-direction: column;
}
.features {
  margin-left: 0px !important;
  letter-spacing: 0;
}
.double-info {
  margin-top: 30px;
  width: 210px;
  letter-spacing: 0 !important;
}
}
#carouselExampleAutoplaying{
  margin-top: 55px;

}